@inherits LayoutComponentBase

@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Identity
@using BlazorEcommerce.Data

@inject IAuthorizationService AuthorizationService
@inject UserManager<BecUser> UserManager

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4 auth">
        <LoginDisplay Name="@Name" />
        <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>

@code {
    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }
    private string Name { get; set; }
    protected override async Task OnInitializedAsync()
    {
        var user = (await authenticationStateTask).User;
        Name = (await UserManager.GetUserAsync(user)).FullName;
    }
}